body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
.main-container {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1.2fr 5fr 1.2fr;
  grid-template-rows: 0.4fr 0.5fr 3fr 1fr;
  background-image: url("https://image.flaticon.com/icons/svg/877/877434.svg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 80%;
}

.main-container,
.algorithms-container,
.projects-container {
  display: grid;
  grid-template-columns: 1.2fr 5fr 1.2fr;
}
.nav,
.main-value,
.sub-value,
.check-work {
  grid-column: 2;
  justify-self: start;
}
.nav {
  display: flex;
  color: #777777;
  margin-top: 30px;
  font-size: 14px;
  height: 20px;
  
}
.link {
  transition: 300ms;
}

a{
  color: #3aaaff !important;
}
.link:hover {
  cursor: pointer;
  transform: scale(1.04);
  color: black;
}
.main-value {
  font-family: 'Architects Daughter', cursive;
  height: 50px;
  align-self: end;
  color: #3aaaff;
}
.sub-value {
  font-family: 'Architects Daughter', cursive;
  width: 60%;
  font-weight: 250;
  font-size: 32px;
  line-height: 1.4;
  color: #333333;

}
.sota{
  font-weight: 900;
  color: #3aaaff;
}


.enzo{
  font-weight: 900;
}

.giorgio{
  font-weight: 900;
}
.project-title {
  color: #181818;
  font-size: 22px;
  font-weight: 600;
  margin-top: 60px;
  padding: 10px 20px;
}
.check-work {
  width: 170px;
  height: 50px;
  border-radius: 1px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.11);
  background-color: #3aaaff;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 14px;
  transition: 300ms;
}
.check-work:hover {
  transition: 300ms;
  cursor: pointer;
  transform: scale(1.04);
}

.card-image:hover{
  transition: 300ms;
  cursor: pointer;
  transform: scale(1.01);
}

.parallax-header{
  background-color: rgb(107, 136, 107);
  color: white;
  font-family: 'Almarai', sans-serif;
  padding:15px;
  margin: 0;
  font-size: 38px;
  font-weight: 100;
}
.parallax-container{
  margin-top: 20px;
}

.modal-content{
  display:grid;
  grid-template-columns: 25% 75%;
}
.modal-content-images{
  display:flex;
}

.modal-image{
  max-height: 200px;
  margin:0 20px;
}

.project-description{
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  font-weight: 400;
}

.secondary-description{
  font-size: 10px;
  line-height: 12px;
  font-weight: 650;
}
h4{
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}
.last-parallax{
  padding-bottom: 100px;
}
.viewImg{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.parallax-contaier:hover{
  cursor: pointer;
}


@media only screen and (max-width: 930px) {
  .projects {
      width: 100%;
  }
}

@media only screen and (max-width: 820px) {
  .modal-content{
    display: flex;
    flex-direction: column;
    padding:15px !important;
  }
  .modal-image{
    margin: 0;
    padding-right: 10px;
  }

  .active{
    padding-right: 30px;
  }
  .sub-value {
      font-size: 16px;
      width: 80%;
  }
  .main-container {
      background-size: 200px;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: 90%;
  }
  .parallax-container {
      height: 250px;
  }
.activator{
  height:400px;
}
.modal-bottom-sheet{
  max-height: 100% !important;
}
}
.fineArts{
  height:400px;
}

@media only screen and (max-width: 650px) {
  .main-container, .algorithms-container, .projects-container {
      grid-template-columns: 0.7fr 5fr 0.7fr;
  }
}

@media only screen and (max-width: 500px) {
  .main-value {
      font-size: 24px;
  }
  .sub-value {
      font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  .nav {
      grid-gap: 15px;
      font-size: 12px;
  }
  .sub-value {
      width: 100%;
      font-size: 12px;
  }
  .main-container {
      background-size: 150px;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: 90%;
  }
  .check-work {
      font-size: 13px;
      width: 130px;
      height: 44px;
  }
  .algorithms-sub-title {
      font-size: 13px;
      width: 90%;
  }
  .projects {
      margin-bottom: 20px;
  }
}
