   
   
   
   
   
   
   
   
   
   

/*This CSS Is to Change the Tile Color but it only changes text color.

.nav-link:hover {color: #0f0;}
.card:hover {color: #0f0;}
.text-white:hover {color: #0f0;}
.bg-secondary:hover {color: #0f0;}
.mb-3:hover {color: #0f0;}
.card-body:hover {color: #0f0;}
.bootstrap-tiles:hover {color: #0f0;}
.mb-3:hover {color: #0f0;}
 */